@import url('https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container-fluid {
    background-color: #333;
    color: #fff;
    text-align: center;
}

header {
    background-image: url('me.jpg');
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    height: 80%; 
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px 0;
    height: 20%; 
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
}

nav a:hover {
    text-decoration: underline;
}

.main-content {
    max-width: 1200px;
    margin: auto;
}

footer {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
